<h1>Quick start guide</h1>

<h2>1. Binary Installation</h2>

<p>
// TODO: provide linux/mac packages (aur, homebrew) and windows binaries
</p>

<p>
Currently, only source installation is available, so please follow the next section.
</p>

<br>

<h2>2. Compiling from Source</h2>
<h3>2.0. Prerequisites</h3>
<p>
memflow is written entirely in <a href="https://www.rust-lang.org/">Rust</a>.
It is therefore required to have a Rust toolchain installed.
memflow is verified to compile on the stable toolchain of Rust 1.45.1.
</p>

<p>
More information on how to install Rust can be obtained from the <a href="https://rustup.rs/">rustup project website</a>.
</p>
<br>

<h3>2.1. Connectors</h3>

<p>
Recommended way to manage multiple connectors is through the <a href="https://github.com/memflow/memflowup">memflowup</a> utility. It requires <a href="https://www.python.org/">Python 3</a>.
</p>

<h3>2.1.1. Linux / macOS in one line</h3>

<div class="code">
	<div class="code-inner">
		<span>$ curl -L https://raw.githubusercontent.com/memflow/memflowup/master/memflowup.py | python3</span>
	</div>
</div>

<h3>2.1.2. With Git</h3>

<p>Clone and run the script:</p>

<div class="code">
	<div class="code-inner">
		<div><span>$ git clone https://github.com/memflow/memflowup.git</span></div>
		<div><span>$ cd memflowup</span></div>
		<div><span>$ python3 memflowup.py</span></div>
	</div>
</div>

<p>Update installed connectors:</p>

<div class="code">
	<div class="code-inner">
		<div><span>$ python3 memflowup.py update</span></div>
	</div>
</div>

<br>

<h3>2.2. CLI</h3>

<h3>2.2.1 Client</h3>

<p>Install the client:</p>

<div class="code">
	<div class="code-inner">
		<div><span>$ cargo install --git https://github.com/memflow/memflow-cli/ memflow-cli</span></div>
	</div>
</div>

<p>(If running local daemon) By default, memflow socket is only accessible to the memflow group, create it, and add your user:</p>

<div class="code">
	<div class="code-inner">
		<div><span>$ sudo groupadd memflow</span></div>
		<div><span>$ sudo usermod -aG memflow (username)</span></div>
	</div>
</div>

<p>You will need to logout for the group changes to be applied</p>

<h3>2.2.2 Daemon</h3>

<p>Daemon is currently only supported on Unix systems.</p>

<p>Install the daemon and create initial config:</p>

<div class="code">
	<div class="code-inner">
		<div><span>$ cargo install --git https://github.com/memflow/memflow-cli/ memflow-daemon</span></div>
		<div><span>$ sudo mkdir -p /etc/memflow/</span></div>
		<div><span>$ curl -L https://raw.githubusercontent.com/memflow/memflow-cli/master/daemon.conf | sudo tee /etc/memflow/daemon.conf</span></div>
	</div>
</div>

<br>

<h2>3. Running in Docker</h2>

<p>
// TODO: implement + describe docker setup
</p>
<br>

<h2>4. The command-line interface</h2>

<p>
// TODO: show cli usage
</p>
<br>

<h2>5. Working with the library</h2>

<p>
// TODO: write and explain examples
</p>
<br>
