<h1>About</h1>
<p>
memflow is a set of libraries and tools that
aim to make it easy to extract information from raw physical memory.
memflow offers abstractions over the Memory Management Unit (MMU)
and underlying Architecture as well as the Operating System itself.
</p>
<br/>

<h2>Contact us</h2>
<p>
You are welcome to contact us via <a href="https://github.com/memflow/">Github</a>
or just join our <a href="https://discord.gg/afsEtMR">Discord</a>.
</p>
<br/>

<h2>Credits & Thanks:</h2>

<app-github-user userName="ko1N" profilePicture="https://avatars3.githubusercontent.com/u/1786181?s=64&v=4"></app-github-user>
<app-github-user userName="h33p" profilePicture="https://avatars3.githubusercontent.com/u/22240533?s=64&v=4"></app-github-user>
