@import '~src/styles.sass'

.header
    color: $color2
    font-weight: 700
    width: fit-content
    margin-left: auto
    margin-right: auto

.content
    padding-top: 5em
    padding-bottom: 5em
    width: 50%
    margin-left: auto
    margin-right: auto

app-navigation
    display: block
    margin-bottom: 2em