<a href="https://github.com/memflow/memflow"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:100;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<div class="content">
  <pre class="header">
                              ______             
    ____ ___  ___  ____ ___  / __/ /___ _      __
   / __ `__ \/ _ \/ __ `__ \/ /_/ / __ \ | /| / /
  / / / / / /  __/ / / / / / __/ / /_/ / |/ |/ / 
 /_/ /_/ /_/\___/_/ /_/ /_/_/ /_/\____/|__/|__/  
  </pre>
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>
</div>