<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>memflow project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="{{ backlink }}styles.css"></head>
</head>
<body>
    <div class="root">
        <div class="pre-logo">
        <pre class="logo">
                             ______             
   ____ ___  ___  ____ ___  / __/ /___ _      __
  / __ `__ \/ _ \/ __ `__ \/ /_/ / __ \ | /| / /
 / / / / / /  __/ / / / / / __/ / /_/ / |/ |/ / 
/_/ /_/ /_/\___/_/ /_/ /_/_/ /_/\____/|__/|__/</pre>
            <ul class="navbar">
                {% for link, title in navbar %}
				<a href="{{ backlink }}{{ link }}">{{ title }}</a>
                {%- if not loop.last %}
                <pre> | </pre>
                {% endif %}
                {% endfor %}
            </ul> 
        </div>

        <div class="pre-content">
            <div class="content">
                {{ content | markdown(backlink) }}
            </div>
        </div>
    </div>
</body>
</html>

